@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.video-list {
  margin: 1.5rem 1rem 1rem 1rem;

  &__title {
    font-size: .9rem;
    font-weight: 700;
    color: $text-silver-color;
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}