@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixin' as *;

.upload {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border-top: 1px solid $border-grey-color;

  @include tablet {
    padding: 2.25rem 2rem 0 2rem;
    margin-bottom: 1.5rem;
  }

  @include desktop {
    padding: 2.25rem 8rem 0 8rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    @include tablet {
      font-size: 2rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $border-grey-color;
      margin-bottom: 2rem;
    }
  }

  &__form-container {

    @include tablet {
      padding-bottom: .5rem;
      border-bottom: 1px solid $border-grey-color;
      margin-bottom: 1rem;
    }

    @include desktop {
      display: flex;
      align-items: flex-end;
    }
  }

  &__image-container {

    @include desktop {
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
    }
  }

  &__label {
    width: fit-content;
    font-size: .75rem;
    font-weight: 700;
    color: $text-silver-color;
    margin-bottom: .25rem;
  }

  &__thumbnail {
    width: 100%;
    background-color: $background-grey-color;
    border-radius: 4px;
    margin-bottom: 1rem;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      height: 9.5rem;
      width: auto;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;

    &--display {

      @include desktop {
        flex-grow: 1;
      }
    }
  }

  &__input {
    width: 100%;
    height: 2.25rem;
    background-color: #f7f7f7;
    font-size: 0.75rem;
    color: #323232;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding-left: .5rem;
    margin-bottom: 1rem;

    &--describe {
      height: 5rem;
      padding-bottom: 2.5rem;
    }

    &::placeholder {
      color: $text-dark-color;
    }

    &:focus {
      outline: 2px solid $border-blue-color;
    }
  }

  &__button-container {

    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__cancel {
    display: none;
    height: 2.5rem;
    width: 100%;
    background-color: $background-bright-color;
    color: $text-blue-color;
    font-size: .75rem;
    font-weight: 700;
    border: none;
    margin-top: .5rem;
    cursor: pointer;

    @include tablet {
      display: block;
      width: 9.5rem;
    }

    &--mobile {
      display: block;

      @include tablet {
        display: none;
      }
    }
  }

  &__button {
    height: 2.5rem;
    width: 100%;
    background: url(http://localhost:8000/images/publish.svg) no-repeat .75rem;
    background-color: $cta-main-color;
    color: $text-white-color;
    font-size: .75rem;
    border: none;
    border-radius: 4px;
    margin: .5rem 0 1rem 0;
    cursor: pointer;

    @include tablet {
      width: 9.5rem;
      margin: .5rem 0 0 2rem;
    }

    &:hover {
      background-color: $cta-hover-color;
    }
  }
}