@use './fonts' as *;
@use './variables' as *;
@use './mixin' as *;

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Avenir', Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}