//colors

$text-dark-color: #323232;
$text-blue-color: #0095FF;
$text-silver-color: #AFAFAF;
$text-white-color: #FFF;

$background-bright-color: #FFF;
$background-dark-color: #000;
$background-grey-color: #E1E1E1;

$cta-main-color: #0095FF;
$cta-hover-color: #0065AD;

$border-blue-color: #0095FF;
$border-grey-color: #E1E1E1;