@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixin' as *;

.details {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1rem;

  @include tablet {
    margin: 2.25rem 2rem 1.5rem 2rem;
  }

  @include desktop {
    margin: 2.25rem 0 1.5rem 8rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    border-bottom: 1px solid $border-grey-color;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 2rem;
      border: none;
      padding-bottom: 0;
    }
  }

  &__text-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-grey-color;
    
    @include desktop {
      padding-right: 1.5rem;
    }
    
    &--display {
  
      @include tablet {
        display: flex;
      }
    }
  }


  &__likes {
    display: flex;
  }

  &__views {
    display: flex;

    @include tablet {
      margin-right: 2rem;
    }
  }

  &__text {
    font-size: .9rem;
    color: $text-silver-color;
    margin-bottom: 1rem;

    &--color {
      color: $text-dark-color;
      font-weight: 700;

      @include tablet {
        margin-right: 2rem;
      }
    }
  }

  &__icon {
    margin: 0 .5rem 1rem 0;
  }

  &__description {
    font-size: .9rem;
    line-height: 22px;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 2.25rem;
    }

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__comment-count {
    font-size: .9rem;
    font-weight: 700;
  }
}